.homeBtn{
    border-radius: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-filled{
    background-color: white;
    color: #3500D3;
    border: 0;
}

.btn-empty{
    background-color: transparent;
    color: white;
    border: 1px white solid;
}