.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #f4f0ff; 
  }
  
  

  .cards-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .card {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    min-width: 250px;
    background-color: #fff;
    border: 0;
    border-radius: 8px;
    padding: 20px;
    
  }
  
  
  .card-number {
    font-size: 60px;
    font-weight: bold;
    color: #5b21b6; 
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 20px;
    color: #555;
  }
  